.MAKA{
    display: block;
    font-size: 50PX;

}.header{
    
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(243, 27, 27);
    color: aqua;
    padding-top: 1px;
 

}
.well{
    font-size: 10px;
    font-family: underdog;
}
.HOME{

    font-family:croissant one ;
    display: inline-block;
    font-size: 15px;
    margin-left: 1200PX;
    cursor: pointer;
    transition: 1S;

}
.HOME:HOVER{
    font-size: 20px;

}
.HOME:ACTIVE{
    font-size: 20px;
    font-family: RYE;

}

.SHOP{
    font-family:croissant one ;
    display: inline-block;
    font-size: 15px;
    margin-left: 10PX;
    cursor: pointer;
    transition: 1S;

}
.SHOP:HOVER{
    font-size: 20px;

}
.ABOUT{
    font-family:croissant one ;
    display: inline-block;
    font-size: 15px;
    margin-left: 15PX;
    cursor: pointer;
    transition: 1S;
}
.ABOUT:HOVER{
    font-size: 20px;
}
.MAKA{
font-family: underdog;
font-size: 36px;
font-weight: bolder;
cursor: pointer;

}
.aaa{
    margin-left: 1300px;
}
.pic{
    width: 1500px;
}
.src{
    margin-left: 600px;
    margin-bottom: 10px;
    display: inline-block;
}
.pic1{
    width: 1500px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}
.wrapper {
    padding-left: 1100px;
  display: inline-flex;
  list-style: none;
}
.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #222222;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #188bc4;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}
.jah{
    display: block;
    width: 300px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.abt{
    font-family:underdog;
    
}
.aa{
  margin-left: 200PX;
  width: 100PX;
  padding-left: 100px;


}
.ab{
  margin-left: 200PX;
  width: 400PX;

  padding-left: 100px;



}
ac{
  margin-left: 200PX;
  width: 100PX;

  padding-left: 100px;
}



  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 4s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 4.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }


